/* Reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  /* scroll-margin-top: [tamanho do menu]px; */
}

/* Default Stylizations */
.centralizer{
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

.adjuster{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.w50{
  width:45%;
  text-align: center;
}

.w33{
  width: 30%;
  text-align: center;
}

a{
  text-decoration: none;
}

/* header */

  header{
    background-color: #ccc;
  }
  header a{
    text-decoration: none;
    color: black;
  }
  header a:active{
    color:blueviolet;
  }
  
  header .adjuster{
    height: 60px;
    align-items: center;
  }
  .logo{
    width: 50%;
  }
  .menu_desktop{
    width: 50%;
  }
  .menu_desktop ul{
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu_desktop ul li{
    list-style-type:none;
  }

  .menu_desktop a:hover{
    text-decoration: underline;
  }


/* main */
  /* section 1 */
    .section_1{
      width: 100%;
      height: 600px;
      position: relative;
      background: rgba(0, 0, 0, 0.6) url(/assets/images/bg1.jpg) no-repeat center center;
      background-size: cover;
      background-blend-mode: multiply;
    }

    .section_1 .adjuster{
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    .section_1 .adjuster h2{
      font-size: 30px;
      color: #52aaa7;
    }

    .section_1 .adjuster p{
      font-size: 18px;
      color: white;
      text-align: justify;
      font-weight: lighter;
    }
  /* section 2 */
  /* section 3 */
/* footer */

/* responsive */
@media screen and (max-width: 1024px) {}

@media screen and (max-width:768px){
  .w33, .w50{
    width:100%;
  }
}

@media screen and (max-width: 480px) {}

