/* Reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  /* scroll-margin-top: [tamanho do menu]px; */
}

/* Default Stylizations */
.centralizer{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

.adjuster{
  display: flex;
  justify-content: space-evenly;
}

.w50{
  width:45%;
  text-align: center;
}

.w33{
  width: 30%;
  text-align: center;
}

a{
  text-decoration: none;
}

/* header */

header{
  background-color: #ccc;
}

header .adjuster{
  height: 60px;
  align-items: center;
}
.logo{
  width: 50%;
}
.menu_desktop{
  width: 50%;
}
.menu_desktop ul{
  display: flex;
  justify-content: space-evenly;
}

.menu_desktop ul li{
  list-style-type:none;
}


/* main */
  /* section 1 */
  /* section 2 */
  /* section 3 */
/* footer */

/* responsive */
@media screen and (max-width: 1024px) {}

@media screen and (max-width:768px){
  .w33, .w50{
    width:100%;
  }
}

@media screen and (max-width: 480px) {}

