/* Reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  /* scroll-margin-top: [tamanho do menu]px; */
}

/* Default Stylizations */
.centralizer{
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

.adjuster{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.w50{
  width:45%;
  text-align: center;
}

.w33{
  width: 30%;
  text-align: center;
}

a{
  text-decoration: none;
}

h2.line_top::before{
  content: "";
  height: 5px;
  background-color: #52aaa7;
  position: absolute;
  transform: translateY(-5px);
  border-radius: 20px;
}

/* header */

  header{
    background-color: #ccc;
  }
  header a{
    text-decoration: none;
    color: black;
  }
  header a:active{
    color:blueviolet;
  }
  
  header .adjuster{
    height: 60px;
    align-items: center;
  }
  .logo{
    width: 50%;
  }
  .menu_desktop{
    width: 50%;
  }
  .menu_desktop ul{
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu_desktop ul li{
    list-style-type:none;
  }

  .menu_desktop a:hover{
    text-decoration: underline;
  }


/* main */
  /* section 1 */
    .section_1{
      width: 100%;  
      padding: 100px 0;
      position: relative;
      background: rgba(0, 0, 0, 0.6) url(/assets/images/bg1.jpg) no-repeat center center;
      background-size: cover;
      background-blend-mode: multiply;
    }

    .section_1 .adjuster{
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    .section_1 .adjuster h2{
      font-size: 30px;
      color: #52aaa7;
    }

    .section_1 .adjuster p{
      font-size: 18px;
      color: white;
      text-align: justify;
      font-weight: lighter;
    }
  /* section 2 */

      .section_2  .adjuster{
        padding: 30px 0; 
      }

      .section_2 .differentials h2{
        color: #52aaa7;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
      }

      .section_2 .differentials h2.line_top::before{
        width: 100px;
        
      }

      .section_2 .icons_differentials{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .section_2 .icons_differentials .box_icons_single{
        margin-top:30px;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 20px;
      }

      .section_2 .icons_differentials .box_icons_single i{
        color:#295f74
      }

      .section_2 .icons_differentials .box_icons_single h3{
        margin: 20px 0;
      }

      .section_2 .icons_differentials .box_icons_single p{
        color: #646464;
        font-weight: 400;
        text-align: justify;
      }

  /* section 3 */
/* footer */

/* responsive */
@media screen and (max-width: 1024px) {}

@media screen and (max-width:768px){
  .w33, .w50{
    width:100%;
  }
}

@media screen and (max-width: 480px) {}

